# Visual Studio cache
.vs/
*.user
*.suo
Rectangle_Example_Composition/.vs/
# Build output folders (for ALL subprojects)
x64/
Debug/
Release/
bin/
obj/

# Intermediate files
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.tlog

# Backup
*.bak

# Visual Studio databases
*.VC.db
*.opendb
ipch/
